# Ignore media files globally
*.jpg
*.jpeg
*.png
*.avif
*.webp
*.gif
*.mp4
*.svg
*.mkv

# Ignore specific folders
client/public/

# === Ignore built files ===
build/
dist/

# === Ignore client-specific files ===
client/node_modules/
client/.env
client/public/*.jpg
client/public/*.png
client/src/assets/

# === Ignore server-specific files ===
server/node_modules/
server/.env
server/uploads/
server/temp/

# === Root-level ===
node_modules/
.env