.card {
  width: 100%;
  height: 60vh;
  opacity: 60%;
  position: relative;
}

.card-content {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 5%;
  color: white;
  z-index: 1;
}

.btn {
  border-radius: 50px;
  background-color: rgb(97, 202, 97);
  padding: 0.8rem;
}


.littlezoro {
  position: absolute;
  top: 32.3%;
  right: 0%;
}

.searchbar {
  width: 50%;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #80ba81;
  justify-content: top;
  margin-right: 10px;
}

h2 {
  font-weight: bold;
}


@media (max-width: 480px) {
  .card-content {
    position: absolute;
    width: 90%;
    top: 60%;
    left: 5%;
  }

  .searchbar {
    position: relative;
    margin-top: 1vh;
    width: 50%;
  }

  .btn {
    width: 35%;
    background-color: rgb(97, 202, 97);
    padding: 0.4rem;
  }

  .littlezoro {
    display: none;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20vh;

  }

  .card {
    height: 40vh;
  }
}